@import '../../../../assets/Themedefinition/theme.scss';

//dark
.table-dark{
    background-color: #000000;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: .7rem;
    border: 1px solid #333333;
    border-collapse: collapse;
    margin-top: 195px;
    transition: .4s;
    color: #f0f8ff;

    .fix-sticky{
        position: sticky;     
        top: 234px;
        background-color: #181313;
        color: #f0f8ff;
    }
    td, th{
        border: 1px solid #343434;
        padding: 6px;
        font-weight: 400;

    }
    tbody tr:hover{
        background-color: #333333;
    }
}
//light
.table-light{
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    font-weight: 300;
    font-size: .7rem;
    border: 1px solid #343434;
    margin-top: 195px;
    border-collapse: collapse;
    transition: .4s;
    .fix-sticky{
        position: sticky;     
        top: 234px;
        border: 1px solid #343434;
        background-color: #f5f5f5;
        color: #444;
        width: 100%;
    }
    td, th{
        border: 1px solid #343434;
        padding: 6px;
        font-weight: 400;

    }
    tbody tr:hover{
        background-color: #dfdbdb;
    }
}


.td-symbol{
    color:#fd0000 ;
    
    
}

.td-symbol:nth-child(2n+1){
    color:#08e003 ;
    
}

.td-thamchieu{
    color:#f3c117 ;
    

}

.td-tran{
    color:#d433a9 ;
    

}

.td-san{
    color:#1eeeee;

}
.bg3Col{
    @include themify($themes){
        background-color: themed('bg3col');
        
    }
}

.red-color{
    color:#fd0000 ;
}

.green-color{
    color: #08e003 ;
}

.yellow-color{
    color: #f3c117 ;
}

.purple-color{
    color: #d433a9 ;
}

.blue-color{
    color: #00c5c5
}

.noneChangeColor{
    @include themify($themes){
        color: themed('totalTrading');
    }
    text-align: right;
}

.backGroundChange{
    background-color: #08e003;
    
}
@keyframes green-background-fade {
    50% {
      background: rgba(0, 128, 0, 0.3);
    }
    100% {
      background: #fff;
    }
  }
  
  @keyframes red-background-fade {
    50% {
      background: rgba(128, 0, 0, 0.3);
    }
    100% {
      background: #fff;
    }
  }
  
  .background_green-color {
    animation: green-background-fade 2s forwards;
  }
  .background_red-color {
    animation: red-background-fade 2s forwards;
  }
  
  .green-color {
    color: green;
  }
  .red-color {
    color: red;
  }
  